/* styles.css */

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #dbdada;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container, #outputBox {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button#encryptButton {
    background-color: #4CAF50;
    color: white;
}

button#decryptButton {
    background-color: #f44336;
    color: white;
}

button#copyButton {
    background-color: #2196F3;
    color: white;
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

#outputBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.output-text {
    width: 100%;
    height: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow-y: auto;
    background-color: #f9f9f9;
    white-space: pre-wrap;
}

.logo {
    width: 100px; /* Tamaño del logo */
    height: 100px;
}